/* =============================================================================
  An example of how stylize the tabs
============================================================================= */

.React-SimpleTabs--tabs {
  margin-top: -50px;
}

.React-SimpleTabs--tabs-navigation {
  padding: 0 50px;
}

.React-SimpleTabs--tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
}

.React-SimpleTabs--tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.React-SimpleTabs--tabs-menu-item {
  float: left;
}

.React-SimpleTabs--tabs-menu-item a {
  display: block;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  border-bottom: 0;
  color: #A9A9A9;
}

.React-SimpleTabs--tabs-menu-item:not(.React-SimpleTabs--is-active) a:hover {
  color: #3498db;
}

.React-SimpleTabs--tabs-menu-item.React-SimpleTabs--is-active a {
  background: #fff;
  border: 1px solid #DDD;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}
