@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700");

$margin = 50px;
$gray = #F2F2F2;
$blue = #3498DB;

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro", sans-serif;
}

.title {
	padding: $margin;
	padding-bottom: $margin * 2;
	margin: 0;
	background: $gray;
	font-size: 48px;
	font-weight: 200;
	color: darken($gray, 40%);
	text-shadow: 0 1px 0 rgba(white, .9);
}

.tabs-navigation {
	padding: 0 $margin;
	margin-top: -50px;
	max-height: $margin;
	border-bottom: 1px solid darken($gray, 10%);
}

.tabs-menu {
	display: table;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;

	.tabs-menu-item {
		float: left;
	}

	.tabs-menu-item a {
		padding: 0 40px;
		display: block;
		height: $margin;
		line-height: $margin;
		transition: color .3s;
		background: transparent;
		border-bottom: 0;
		color: darken($gray, 30%);
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(white, .9);
	}

	.tabs-menu-item:not(.is-active) a:hover {
		color: $blue;
	}

	.is-active a {
		background: white;
		border: 1px solid darken($gray, 10%);
		border-top: 2px solid $blue;
		border-bottom: 0;
		color: darken($gray, 70%);
	}
}

.tabs-panel {
	padding: $margin;
	display: none;
	opacity: 0;
	transition: opacity .3s;
}

.tabs-panel.is-active {
	opacity: 1;
	display: block;
}
